<a href="https://colab.research.google.com/github/LeodeFaria/IDP/blob/main/1_Aula_de_Estat%C3%ADstica_Exerc%C3%ADcios_Extras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios Extras

In [1]:
#@title Init Cell - Execute-me!!!
import sys
from datetime import datetime
import requests
import time
from requests.utils import quote
url = 'https://docs.google.com/forms/d/e/1FAIpQLSebn3-Y5ICQoStAW49xYB3lkd87FyKcfdfu6QxsVzahOw8CMA/formResponse?usp=pp_url&entry.346515457=mbaidp&entry.1423913446=2021&entry.1225936334=EstatisticaAplicadaPython'

def format_values(values):
    return {
        "entry.1228263462": values['student_id'],
        "entry.14389688": str(values['exercise_number']).replace(".", "_"),
        "entry.1427055401": values['exercise_score'],
        "entry.967700948": values['exercise_extra'],
        "entry.517103524": values['id']
    }

def send_attendance(url, data):
    count = 0
    while count < 3:
        count += 1
        try:
          r = requests.post(url, data=data)
          break
        except:
          print("Error Occured!")
          time.sleep(2)

def validate(current_question_output, exercise_number, exercise_extra):
  student_email=!gcloud config get-value account
  if not student_email or 'unset' in student_email[0]:
    !gcloud auth login
    student_email=!gcloud config get-value account
  
  if current_question_output:
      exercise_score = True
      print("Parabéns")
  else:
      exercise_score = False
      print("Resposta incorreta.")
  values = {"exercise_number": exercise_number, "student_id": student_email[0],
            "exercise_points": 1, "exercise_score": exercise_score, 
            "exercise_extra": exercise_extra,
            "id": f"{student_email[0]}_{exercise_number}"}
  final_data = format_values(values)
  send_attendance(f"{url}&emailAddress={quote(str(student_email[0]))}", final_data)

# Início

In [2]:
# Link com o csv a ser utilizado
# https://drive.google.com/file/d/1D2NAnKk6XPbaQlPc6f6m1Q0rsjTVMXCx/view?usp=sharing

# importando pandas e numpy
import pandas as pd
import numpy as np

# Lembre sempre printe a base de dados para entender como ela é organizada

In [5]:
df = pd.read_csv('/content/food_consumption.csv')
df.head()

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96

## 1.1 Calcule a média(mean) consumo na Bélgica(Belgium)

In [ ]:
  def media_consumo_belgica():
    """retorne a media do consumo na belgica
    """
    ### BEGIN SOLUTION

    ### END SOLUTION
    return

In [ ]:
## Faça seus testes aqui

In [ ]:
# Validação
resultado = media_consumo_belgica() == 42.132727272727266
current_question_output = resultado
validate(current_question_output, "1.1", True)

## 1.2 Calcule a mediana(median) do consumo na Bélgica(Belgium)

In [ ]:
  def mediana_consumo_belgica():
    """retorne a mediana do consumo na belgica
    """
    ### BEGIN SOLUTION

    ### END SOLUTION
    return

In [ ]:
## Faça seus testes aqui

In [ ]:
# Validação
resultado = mediana_consumo_belgica() == 12.59
current_question_output = resultado
validate(current_question_output, "1.2", True)

## 1.3 Calcule a média(mean) consumo nos Estado Unidos(USA)

In [ ]:
def media_consumo_eua():
    """retorne a media do consumo nos eua
    """
    ### BEGIN SOLUTION

    ### END SOLUTION
    return

In [ ]:
## Faça seus testes aqui

In [ ]:
# Validação
resultado = media_consumo_eua() == 44.650000000000006
current_question_output = resultado
validate(current_question_output, "1.3", True)

## 1.4 Calcule a mediana(median) do consumo nos Estado Unidos(USA)

In [ ]:
def mediana_consumo_eua():
    """retorne a mediana do consumo nos eua
    """
    ### BEGIN SOLUTION

    ### END SOLUTION
    return

In [ ]:
## Faça seus testes aqui

In [ ]:
# Validação
resultado = mediana_consumo_eua() == 14.58
current_question_output = resultado
validate(current_question_output, "1.4", True)

## 1.5 Faça um Subset que contenha os dados dos EUA e da Belgica e agrupe por paises e selecione o consumo e calcule a média e a mediana de cada país

Utilize .agg

In [ ]:
def subset_eua_belgica():
    """retorne o dataframe
    """
    ### BEGIN SOLUTION

    ### END SOLUTION
    return

In [ ]:
## Faça seus testes aqui

# Resultado esperado
#               mean  median
# country                   
# Belgium  42.132727   12.59
# USA      44.650000   14.58

In [ ]:
# Validação

df = pd.DataFrame({'mean': [42.13 , 44.65],
                   'median': [12.59, 14.58]}, index=['Belgium', 'USA'])
df.index.name = 'country'
df = df.applymap("{0:.2f}".format)

resultado = subset_eua_belgica()
resultado = resultado.applymap("{0:.2f}".format)
current_question_output = df.equals(test)
validate(current_question_output, "1.5", True)

#FIM!