In [28]:
import pandas as pd

%load_ext google.colab.data_table

!pip install unidecode

The google.colab.data_table extension is already loaded. To reload it, use:
  %reload_ext google.colab.data_table
Collecting unidecode
  Downloading https://files.pythonhosted.org/packages/9e/25/723487ca2a52ebcee88a34d7d1f5a4b80b793f179ee0f62d5371938dfa01/Unidecode-1.2.0-py2.py3-none-any.whl (241kB)
     |████████████████████████████████| 245kB 12.1MB/s
Installing collected packages: unidecode
Successfully installed unidecode-1.2.0

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
#df2 = pd.read_csv('./files/pasta1.csv',
#                delimiter=';', decimal=',',encoding='utf8')

#senado = pd.read_csv('./files/SF_ConsultaRemuneracaoServidoresParlamentares_202103.csv',
#                delimiter=';', decimal=',',encoding='ISO-8859-1')

senado = pd.read_csv('/content/drive/MyDrive/IDP -BigData/SF_ConsultaRemuneracaoServidoresParlamentares_202103.csv',
                delimiter=';', decimal=',',encoding='ISO-8859-1')

In [ ]:
senado.columns

In [ ]:
senado.head()

In [ ]:
categoria = senado[['CATEGORIA','REM_LIQUIDA']]

a = categoria.groupby('CATEGORIA').sum()
a['Qtd_SERIDORES'] = categoria.groupby('CATEGORIA').count()
a['Pct_SERIDORES'] = ((a['Qtd_SERIDORES']/a['Qtd_SERIDORES'].sum())*100).round(2).astype(str) + '%'
a['Pct_GASTO']     = ((a['REM_LIQUIDA']/a['REM_LIQUIDA'].sum())*100).round(2).astype(str) + '%'
a
# Queria a linha de total

In [ ]:
consolidado = senado[['VÍNCULO','REM_LIQUIDA']].groupby('VÍNCULO').count()
consolidado.rename(columns = {'REM_LIQUIDA' : 'TOTAL_VINCULO'}, inplace = True)
consolidado['PORCENTAGEM_VINCULO'] = ((consolidado['TOTAL_VINCULO']/consolidado['TOTAL_VINCULO'].sum())*100).round(2).astype(str) + '%'
consolidado['REM_LIQUIDA_TOTAL'] = senado[['VÍNCULO','REM_LIQUIDA']].groupby('VÍNCULO').sum()['REM_LIQUIDA'].round(2)
consolidado['PORCENTAGEM_REM_LIQUIDA'] = ((consolidado['REM_LIQUIDA_TOTAL']/consolidado['REM_LIQUIDA_TOTAL'].sum())*100).round(2).astype(str) + '%'
consolidado

In [31]:
def corrigir_nomes(nome):
    nome = nome.replace('á','a').replace('é','e').replace('í','i').replace('ó','o').replace('ú','u')
    nome = nome.replace('à','a').replace('è','e').replace('ì','i').replace('ò','o').replace('ù','u')
    nome = nome.replace('â','a').replace('ê','e').replace('î','i').replace('ô','o').replace('û','u')
    nome = nome.replace('ã','a').replace('õ','o')
    nome = nome.replace('ä','a').replace('ë','e').replace('ï','i').replace('ö','o').replace('ü','u')
    nome = nome.replace('ñ','n').replace('ç','c')
    
    nome = nome.replace('Á','A').replace('É','E').replace('Í','I').replace('Ó','O').replace('Ú','U')
    nome = nome.replace('À','A').replace('È','E').replace('Ì','I').replace('Ò','O').replace('Ù','U')
    nome = nome.replace('Â','A').replace('Ê','E').replace('Î','I').replace('Ô','O').replace('Û','U')
    nome = nome.replace('Ã','A').replace('Õ','O')
    nome = nome.replace('Ä','A').replace('Ë','E').replace('Ï','I').replace('Ö','O').replace('Ü','U')
    nome = nome.replace('Ñ','N').replace('Ç','C')

    nome = nome.replace('!','').replace('@','').replace('$','').replace('%','').replace('¨','').replace('&','')
    nome = nome.replace('*','').replace('#','').replace('(','').replace(')','').replace('+','').replace('-','')
    nome = nome.replace('=','').replace("[",'').replace(']','').replace("{",'').replace('}','').replace('/','')

    return nome

In [42]:
from pandas import DataFrame
leo = ['ñômë', 'Plaçebo']
df = DataFrame (leo,columns=['Column_Name'])
df.apply(corrigir_nomes)

  Column_Name
0        ñômë
1     Plaçebo

In [33]:
lotacao = senado[['LOTAÇÃO EXERCÍCIO','REM_LIQUIDA']]
lotacao = lotacao.dropna()

lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao[lotacao['LOTAÇÃO EXERCÍCIO'].str.contains('Senador')]
lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao['LOTAÇÃO EXERCÍCIO'].str.replace('Senadora','Senador')
lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao['LOTAÇÃO EXERCÍCIO'].replace(to_replace=r'^.*?Senador', value='', regex=True)

lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao['LOTAÇÃO EXERCÍCIO'].apply(corrigir_nomes)

lotacaoFinal = lotacao.groupby('LOTAÇÃO EXERCÍCIO').sum()

lotacaoFinal['Qtd_servidores'] = lotacao.groupby('LOTAÇÃO EXERCÍCIO').count()

lotacaoFinal.sort_values('REM_LIQUIDA')#.head()

AttributeError: ignored

In [ ]:
lotacao = senado[['LOTAÇÃO EXERCÍCIO','REM_LIQUIDA']]

lotacao = lotacao[lotacao['LOTAÇÃO EXERCÍCIO'].str.contains('Senador')]


lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao['LOTAÇÃO EXERCÍCIO'].map(lambda x: x.lstrip('Escritório Apoio 1 do Senador '))
lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao['LOTAÇÃO EXERCÍCIO'].map(lambda x: x.lstrip('Escritório Apoio 2 do Senador '))
lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao['LOTAÇÃO EXERCÍCIO'].map(lambda x: x.lstrip('Escritório Apoio 1 da Senadora '))
lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao['LOTAÇÃO EXERCÍCIO'].map(lambda x: x.lstrip('Escritório Apoio 2 da Senadora '))
lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao['LOTAÇÃO EXERCÍCIO'].map(lambda x: x.lstrip('Gabinete do Senador '))
lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao['LOTAÇÃO EXERCÍCIO'].map(lambda x: x.lstrip('Gabinete da Senadora '))


lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao['LOTAÇÃO EXERCÍCIO'].map(lambda x: x.lstrip('º 2 do Senador '))
lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao['LOTAÇÃO EXERCÍCIO'].map(lambda x: x.lstrip('º1 do Senador '))

lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao['LOTAÇÃO EXERCÍCIO'].map(lambda x: x.lstrip('01 da Senadora '))
lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao['LOTAÇÃO EXERCÍCIO'].map(lambda x: x.lstrip('02 do Senador '))

lotacao['LOTAÇÃO EXERCÍCIO'] = lotacao['LOTAÇÃO EXERCÍCIO'].str.strip()

lotacao.groupby('LOTAÇÃO EXERCÍCIO').count().sort_values('LOTAÇÃO EXERCÍCIO')

                   REM_LIQUIDA
LOTAÇÃO EXERCÍCIO
Acir Gurgacz                33
Alessandro Vieira           16
Alvaro Dias                 22
Angelo Coronel              21
Antônio Anastasia           17
...                        ...
yvenson Valentim            11
yvenson Vatentim             2
ão Amin                     13
érgio Petecão               41
ônio Anastasia               7

[95 rows x 1 columns]