<a href="https://colab.research.google.com/github/LeodeFaria/IDP/blob/main/5_Aula_de_Estat%C3%ADstica_Exerc%C3%ADcios_Extras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios Extras

# Início

In [1]:
# Link com o dataset
# https://drive.google.com/file/d/10KPexIXc-iEBAjZejzH5WvOj0coJDwmc/view?usp=sharing

# importando libs
import pandas as pd
import numpy as np
import scipy.stats

## Antes de começar

### Lembre-se de printar o dataset para entender como ele é organizado
[Dicionário dos dados](https://www.kaggle.com/c/titanic/data)
### Se necessário faça a limpeza de dados faltantes, só limpe os dados que for utilizar

In [4]:
## Faça aqui
df = pd.read_excel('/content/titanic.xls')

df.head()

   pclass  survived  ...   body                        home.dest
0       1         1  ...    NaN                     St Louis, MO
1       1         1  ...    NaN  Montreal, PQ / Chesterville, ON
2       1         0  ...    NaN  Montreal, PQ / Chesterville, ON
3       1         0  ...  135.0  Montreal, PQ / Chesterville, ON
4       1         0  ...    NaN  Montreal, PQ / Chesterville, ON

[5 rows x 14 columns]

## 1. O RMS Titanic foi um navio de passageiros britânico. O Titanic foi pensado para ser o navio mais luxuoso e mais seguro de sua época, gerando lendas que era supostamente "inafundável". No dia do seu naufragio ele tinha 2435 passageiros a bordo.

### Atualmente existe uma diferença considerável no preço das passagens de avião entre a primeira classe e a econômica essa diferença era igualmente proporcional no Titanic?

Dica 1: Calcule a média das tarifas dos passageiros de cada classe.

Dica 2: Calcule a variância das tarifas dos passageiros de cada classe.

Dica 3: Calcule a mediana das tarifas dos passageiros de cada classe.

Dica 4: Represente tudo num Boxplot.

In [18]:
## Faça aqui

# df.describe()

# type(df['fare'])

media_passagem = df.groupby('pclass')['fare'].mean()

## 2. Ao assistir o filme Titanic uma cena memoravel é os tripulantes dando preferencia as mulheres e crianças.
### Isso realmente aconteceu ou serve apenas para efeito dramatico no filme? Considere um adulto um homem ou mulher com idade igual ou superior a 18

Dica 1: Calcule a média da idade dos passageiros que sobreviveram e dos que não.

Dica 2: Calcule a variância da idade dos passageiros que sobreviveram e dos que não.

Dica 3: Calcule a median da idade dos passageiros que sobreviveram e dos que não.

Dica 5: Conte a quantidade de homem e mulheres que sobreviveram e morreram.

Dica 6: A coluna "survided" possui a seguinte legenda  0 = não, 1 = sim.

In [ ]:
## Faça aqui

## 3. E uma conversa um colega deu a seguinte hipótese ao comprar sua passagem os passageiros do titanic pagaram uma tarifa diferente de acordo com as suas faixas etárias e a classe que haviam escolhido. 

### Mostre ao seu colega se a sua hipótese esta correta ou não.

In [ ]:
## Faça aqui

## 4. Supondo que a chance de sobreviver ao naufrágio do titanic seja uma Survival Function. Qual seria a sua chance de sobreviver?

Dica 1: Para o calculo de variância e média utilize os dados disponiveis

In [ ]:
## Faça aqui

## 5. Os órfãos 

Em 1912, Michel Navratil viu-se sozinho com os filhos pela primeira vez desde o divórcio com a mãe dos garotos. Com uma oportunidade de ouro em mãos, ele decidiu fugir com os meninos, todos com nomes falsos, para o Novo Mundo — a bordo do Titanic.

Na noite da colisão, o homem abandonou seu jogo de cartas para conseguir salvar seus filhos da tragédia. Com os pequenos num bote, ele olhou para Michel Jr. e Edmond, de quatro e dois anos, uma última vez antes de afundar sozinho nas águas congelantes.

Os meninos, então, foram as únicas crianças resgatadas do navio sem a companhia de um responsável. Conhecidos como os “órfãos do Titanic”, sem falar o inglês e sob os nomes falsos de Louis e Lola, os pequenos só encontraram sua mãe depois de muitos meses. Mais tarde, Michel Jr. viveu até os 92 anos, enquanto Edmond morreu em 1953.

### Essa é uma história  de um outlier, os pontos fora da curva, no titanic. Utilizando os dados disponiveis é possivel encontrar mais algum outlier?

In [ ]:
## Faça aqui

## 6. Utilizando todos os seus dados disponiveis crie uma nova coluna chamada chance de sobrevivência e coloque em cada linha a chance de cada passageiro sobreviver de acordo com a SF. Considere que mais de 50% resulta em sobreviver.

In [ ]:
## Faça aqui

## 7. Faça a análise da sua coluna com os dados reais.

Foi possível prever?

In [ ]:
## Faça aqui

## Desafio - Utilize o F1 score para a sua analise anterior.
[Link artigo da medium](https://medium.com/@vitorborbarodrigues/m%C3%A9tricas-de-avalia%C3%A7%C3%A3o-acur%C3%A1cia-precis%C3%A3o-recall-quais-as-diferen%C3%A7as-c8f05e0a513c)

In [ ]:
## Faça aqui