<a href="https://colab.research.google.com/github/LeodeFaria/IDP/blob/main/idp_IA1_knn_exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Objetivo
Vamos prever o peso das pessoas de acordo com a altura utilizando o knn.

#Link para o dataset
https://github.com/4tune-ai/IDP/blob/main/data/SOCR-HeightWeight.csv

In [ ]:
# Importando bibliotecas a serem utilizadas

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
# Lendo os dados
url='https://github.com/4tune-ai/IDP/blob/main/data/SOCR-HeightWeight.csv?raw=true'

height_weight_df = pd.read_csv(url)

In [ ]:
# Vendo as colunas que serão utilizadas
height_weight_df

       Index  Height(Inches)  Weight(Pounds)
0          1        65.78331        112.9925
1          2        71.51521        136.4873
2          3        69.39874        153.0269
3          4        68.21660        142.3354
4          5        67.78781        144.2971
...      ...             ...             ...
24995  24996        69.50215        118.0312
24996  24997        64.54826        120.1932
24997  24998        64.69855        118.2655
24998  24999        67.52918        132.2682
24999  25000        68.87761        124.8742

[25000 rows x 3 columns]

In [ ]:
# Pré-processando os dados

In [ ]:
# Entendendo os dados

In [ ]:
# Analisando outlier

In [ ]:
# Vamos ver como o peso e a altura se relacionam

In [ ]:
# Vamos ver a correlação entre essas variaveis

In [ ]:
# Fazendo o KNN

In [ ]:
# Analisando o resultado



# Dividindo em treino e teste

In [ ]:
# Calcula MAE

In [ ]:
# Calcula MSE

In [ ]:
# Calcula RMSE