<a href="https://colab.research.google.com/github/LeodeFaria/IDP/blob/main/idp_IA1_regress%C3%A3o_exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Objetivo
Construa um modelo para prever as vendas baseado no dinheiro gastado em diferentes plataformas de marketing usando regressão linear.

#Link para o dataset
https://github.com/4tune-ai/IDP/blob/main/data/advertising.csv

In [ ]:
# Importando bibliotecas a serem utilizadas
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt 
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
# Lendo os dados
url='https://github.com/4tune-ai/IDP/blob/main/data/advertising.csv?raw=true'

advertising = pd.read_csv(url)

In [ ]:
# Vendo as colunas que serão utilizadas
advertising

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [ ]:
# Entendendo os dados

In [ ]:
# Analisando outlier

In [ ]:
# Vamos ver como se relacionam

In [ ]:
# Vamos ver a correlação entre essas variaveis

In [ ]:
# Dividir os dados em teste e treino

In [ ]:
# Treinando os modelos

In [ ]:
# Avaliando os modelos