In [1]:
# Importando as libs
import pandas as pd
from urllib.request import urlopen
from urllib.error import HTTPError
from urllib.error import URLError
from bs4 import BeautifulSoup
import ssl

In [2]:
# URL base
url = 'https://www.imdb.com/chart/top?ref_=nv_mv_250'

In [3]:

#Trata ambiente que nao suporta verificaçao HTTPS
ssl._create_default_https_context = ssl._create_unverified_context 

# Tratando erros da url
try:
    html = urlopen(url)
except HTTPError as e:
# Erros HTTP
    print(e)
except URLError as e:
    # URL errada
    print('The server could not be found!')

In [4]:
# Enfim mostrando o poder da bs4
bs = BeautifulSoup(html, 'lxml')

# Imprimindo o título da página
movies = bs.select('.lister-list tr')

In [5]:
titles = []
directors_writers = []
years = []
ratings = []

for movie in movies:
    titles.append(movie.find('td', class_='titleColumn').find('a').get_text())
    directors_writers.append(movie.find('td', class_='titleColumn').find('a')['title'])
    years.append(movie.find('td', class_='titleColumn').find('span').get_text()[1:5])
    ratings.append(movie.find('td', class_='imdbRating').find('strong').get_text())

In [139]:
#cria o dataframe com o nome das colunas

df = pd.DataFrame({
        "title": titles, 
        "year": years, 
        "rating": ratings, 
        "director_and_writers":directors_writers
    })

df["director_and_writers"].replace(to_replace="'", value=r"", regex=True, inplace=True)
df["title"].replace(to_replace="'", value=r"", regex=True, inplace=True)
df.head()

,title,year,rating,director_and_writers
0,Um Sonho de Liberdade,1994,9.2,"Frank Darabont (dir.), Tim Robbins, Morgan Fre..."
1,O Poderoso Chefão,1972,9.1,"Francis Ford Coppola (dir.), Marlon Brando, Al..."
2,O Poderoso Chefão II,1974,9.0,"Francis Ford Coppola (dir.), Al Pacino, Robert..."
3,Batman: O Cavaleiro das Trevas,2008,9.0,"Christopher Nolan (dir.), Christian Bale, Heat..."
4,12 Homens e uma Sentença,1957,8.9,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb"

In [7]:
# Enviando os dados para um banco de dados na nuvem

!pip install psycopg2-binary

DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support
Requirement already satisfied: psycopg2-binary in /Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages (2.8.5)
WARNING: You are using pip version 20.0.2; however, version 20.3.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python -m pip install --upgrade pip' command.

In [21]:
import psycopg2
from config import config

#crio uma conexão com os parametros do banco de dados
conn = psycopg2.connect(
    host="51.222.97.148",
    database="idp",
    user="idp",
    password="idp")

In [153]:
#Usando PostgreSQL database adapter psycopg2

import psycopg2 

def load():
    """ Connect to the PostgreSQL database server """
    conn = None
 
    try:
        
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(
               host="51.222.97.148",
               database="idp",
               user="idp",
               password="idp")
		
        # create a cursor
        cur = conn.cursor()
        
	
        
    # Deleta os dados antigos no banco
        cur.execute('DELETE FROM public.imdb ')
        conn.commit()
        print("Tabela antiga apagada! \n")
    
    # Adiciona novos dados no banco    
        try:
          for i in range(len(df)): 
             cur.execute("INSERT INTO public.imdb (title, year, rating, director_and_writers) VALUES ('" + (str(df["title"][i]) + "'"+ ", "+ df["year"][i] + ", " + df["rating"][i] + ", " + "'"+  df["director_and_writers"][i]) + "')")
          
             conn.commit()
          
          print("Dados novos inseridos com sucesso! \n")
        except (Exception, psycopg2.DatabaseError) as error:
          print(error)
          
	# close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
            print('Database connection closed.')

In [154]:
load()

Connecting to the PostgreSQL database...
PostgreSQL database version:
('PostgreSQL 13.3 (Ubuntu 13.3-1.pgdg20.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0, 64-bit',)
Tabela antiga apagada!

Dados novos inseridos com sucesso!

Database connection closed.

In [147]:
# Usando SQLAlchemy e dataframe to_sql

from sqlalchemy import create_engine

#formato: tipoBanco://username:password@localhost/mydatabase
engine = create_engine('postgresql://idp:idp@51.222.97.148/idp')
print(""" Connecting to the PostgreSQL database... """)

#Deleta os dados antigos no banco
engine.execute("DELETE FROM imdb")
print("Tabela antiga apagada! \n")

#Adiciona novos dados no banco
df.to_sql('imdb', engine, if_exists='replace', index = False)
print("Dados novos inseridos com sucesso! \n")

#engine.execute("SELECT * FROM imdb").fetchall()

#A conexao é fechada automaticamente

 Connect to the PostgreSQL database server
Tabela antiga apagada!

Dados novos inseridos com sucesso!

In [152]:
df

,title,year,rating,director_and_writers
0,Um Sonho de Liberdade,1994,9.2,"Frank Darabont (dir.), Tim Robbins, Morgan Fre..."
1,O Poderoso Chefão,1972,9.1,"Francis Ford Coppola (dir.), Marlon Brando, Al..."
2,O Poderoso Chefão II,1974,9.0,"Francis Ford Coppola (dir.), Al Pacino, Robert..."
3,Batman: O Cavaleiro das Trevas,2008,9.0,"Christopher Nolan (dir.), Christian Bale, Heat..."
4,12 Homens e uma Sentença,1957,8.9,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb"
...,...,...,...,...
245,A Princesa Prometida,1987,8.0,"Rob Reiner (dir.), Cary Elwes, Mandy Patinkin"
246,Aurora,1927,8.0,"F.W. Murnau (dir.), George OBrien, Janet Gaynor"
247,Neon Genesis Evangelion: O Fim do Evangelho,1997,8.0,"Hideaki Anno (dir.), Megumi Ogata, Megumi Haya..."
248,Drishyam,2013,8.0,"Jeethu Joseph (dir.), Mohanlal, Meena"
249,"Paris, Texas",1984,8.0,"Wim Wenders (dir.), Harry Dean Stanton, Nastas..."